@import "./common/vars.scss";
@import "./common/mixins.scss";

body{
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  background-color: $color-1;
  font-family: "Open Sans", "Arial", sans-serif;
  @include flex-col-center;
}

#root{
  @include flex-col-center;
}


//NAVBAR
.navbar {
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  box-sizing: border-box;
  padding: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  background-color: $black;
  @include shadow;
  z-index: 10;
  a {
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
  }
  .logo-awakelab {
    height: 64px;
    width: auto;
    cursor: pointer;
  }
  .welcome {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
    .welcome-phrase {
      color: $white;
      font: {
        size: 24px;
        weight: 600;
      }
      margin-right: 40px
    }
    .progress-indicators{
      @include clean-list;
      @include zero-hard;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-content: center;
      align-items: center;
      .progress-indicator{
        @include clean-list;
        @include zero-hard;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: center;
        .p-indicator-number{
          border: 0;
          outline: 0;
          background-color: $white;
          color: $black;
          font: {
            size: 48px;
            weight: 800;
          }
          width: 64px;
          height: 64px;
          border-radius: 10px 0px 0px 10px;
        }
        &.class{
          border-left: 4px solid $black;
          .p-indicator-number{
            border-radius: 0px 10px 10px 0px;
            color: $color-1;
          }
        }
        .p-indicator-name {
          text-align: center;
          color: $white;
          font: {
            size: 12px;
            weight: 600;
          }
        }
      }
    }
  }
}

//Module selector
.modules-selector{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  box-sizing: border-box;
  position: relative;
  &:after{
    display: inline-block;
    width: 100%;
    height: 10px;
    border-radius: 0px 5px 5px 5px;
    background-color: $white;
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
  }
  .m-selector-wrapper{
    @include clean-list;
    @include zero-hard;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    border-radius: 10px 10px 0px 0px;
    overflow: hidden;
    .module{
      @include clean-list;
      @include zero-hard;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-content: center;
      align-items: center;
      height: 64px;
      width: 64px;
      background-color: $color-2;
      @include animate;
      cursor: pointer;
      .btn-module{
        border: 0;
        outline: 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: center;
        align-items: center;
        height: 64px;
        width: 64px;
        background-color: transparent;
        color: $color-1;
        font: {
          size: 48px;
          weight: 800;
        }
        cursor: pointer;
        box-sizing: border-box;
        padding-bottom: 7px;
      }
      &.active {
        background-color: $white;
      }
    }
  }
}

.body-content{
  width: 100vw;
  min-height: 100vh;
  padding: 80px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
  padding-top: calc(161px + 140px);
  position: relative;
  .body-content-top{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    position: relative;
    h1 {
      @include clean-webkit;
      @include zero-hard;
      position: absolute;
      right: 0px;
      bottom: 10px;
      color: $white;
      text-align: right;
      font: {
        size: 36px;
        weight: 600;
      }
      span{
        font-weight: 300;
      }
    }
  }
  .body-content-center {
    width: 100%;
    padding-top: 80px;
  }
}

.module-tags-component{
  display: none;
  position: fixed;
  top: 400px;
  left: 200px;
  .module-tags{
    background-color: rgba($white, 0.75);
    @include clean-list;
    @include zero-hard;
    @include animate;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 20px;
    padding: 10px;
    max-width: 400px;
    position: relative;
    &:before{
      display: inline-block;
      width: 0; 
      height: 0; 
      border-left: 20px solid transparent;
      border-right: 20px solid transparent;
      border-bottom: 20px solid rgba($white, 0.75);
      content:"";
      position: absolute;
      top: -20px;
      left: calc(50% - 20px);
    }
    .tag {
      @include clean-list;
      @include zero-hard;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-content: center;
      align-items: center;
      height: 36px;
      width: auto;
      padding-left: 32px;
      padding-right: 32px;
      box-sizing: border-box;
      color: $white;
      background-color: $color-1;
      margin: 5px!important;
      border-radius: 18px;
      text: {
        align: center;
        transform: uppercase;
      }
      font: {
        size: 18px;
        weight: 600;
      }
    }
  }
}

.submodule-list-component{
  display: none;
  position: fixed;
  top: 400px;
  right: 200px;
  .submodule-list{
    background-color: rgba($white, 0.75);
    @include clean-list;
    @include zero-hard;
    @include animate;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    border-radius: 20px;
    min-width: 300px;
    position: relative;
    padding-top: 48px;
    &:before{
      display: inline-block;
      width: 0; 
      height: 0; 
      border-left: 20px solid transparent;
      border-right: 20px solid transparent;
      border-bottom: 20px solid $color-2;
      content:"";
      position: absolute;
      top: -20px;
      left: calc(50% - 20px);
    }
    h2{
      width: 100%;
      position: absolute;
      left: 0;
      height: 48px;
      top: 0;
      box-sizing: border-box;
      padding-left: 20px;
      padding-right: 20px;
      border-radius: 20px 20px 0px 0px;
      @include clean-webkit;
      @include zero-hard;
      background-color: $color-2;
      color: $white;
      font: {
        size: 18px;
        weight: 600;
      }
      text: {
        align: center;
        transform: uppercase;
      }
      @include flex-row-center;
    }
    .submodule{
      @include clean-list;
      @include zero-hard;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-content: center;
      align-items: center;
      height: 48px;
      width: 100%;
      padding-left: 32px;
      padding-right: 32px;
      box-sizing: border-box;
      color: $color-1;
      background-color: $white;
      font: {
        size: 18px;
        weight: 600;
      }
      &:nth-child(even){
        background-color: transparent;
        color: $white;
      }
    }
  }
}

.module-content-list-component{
  width: 100%;
  .module-content-list{
    @include clean-list;
    @include zero-hard;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    .module-content{
      @include clean-list;
      @include zero-hard;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-content: center;
      align-items: center;
      width: 100%;
      min-height: 200px;
      position: relative;
      z-index: 0;
      &:after{
        content: "";
        height: 100%;
        width: 6px;
        border-radius: 3px;
        background-color: $color-2;
        position: absolute;
        left: calc(50% - (96px / 2) + 16px);
        top: 96px;
        z-index: -1;
      }
      .module-title{
        box-sizing: border-box;
        width: calc((100% / 2) - 96px);
        color: $white;
        padding-right: 60px;
        text-align: right;
        font: {
          size: 42px;
          weight: 300;
        }
        @include animate;
      }
      .submodule-title{
        box-sizing: border-box;
        padding-right: 90px;
        text-align: right;
        width: calc((100% / 2) - 96px);
        color: $white;
        font: {
          size: 21px;
          weight: 600;
        }
        opacity: 0.5;
        @include animate;
      }
      .module-code{
        box-sizing: border-box;
        width: 96px;
        height: 96px;
        border-radius: 48px;
        outline: 0;
        background-color: $color-1;
        border: 10px solid $color-2;
        font: {
          size: 36px;
          weight: 300;
        }
        @include flex-row-center;
        span {
          font-weight: 800;
        }
      }
      .submodule-code{
        box-sizing: border-box;
        width: 32px;
        height: 32px;
        border-radius: 16px;
        outline: 0;
        background-color: $color-1;
        border: 5px solid $color-2;
        font: {
          size: 14px;
          weight: 800;
        }
        color: $color-2;
        @include flex-row-center;
      }
      .submodule-contents{
        @include clean-list;
        @include zero-hard;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-content: center;
        align-items: center;
        width: calc((100% / 2) - 36px);
        box-sizing: border-box;
        padding-left: 80px;
        margin-top: -10px!important;
        opacity: 0.5;
        @include animate;
        .submodule-content{
          @include clean-list;
          @include zero-hard;
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-content: center;
          align-items: center;
          position: relative;
          z-index: 1;
          .submodule-topic{
            width: 64px;
            height: 64px;
            outline: 0;
            border: 0;
            box-sizing: border-box;
            margin-right: -13px;
            padding-right: 15px;
            padding-top: 10px;
            background: {
              color: transparent;
              image: url("https://gricel.sfo2.digitaloceanspaces.com/awakelab/puzzle-white-center.svg");
              position: center;
              repeat: no-repeat;
              size: 64px auto;
            }
            color: $color-1;
            font: {
              size: 18px;
              weight: 800;
            }
          }
          &:first-of-type{
            z-index: 0;
            .submodule-topic{
              padding-top: 0px;
              padding-bottom: 10px;
              margin-top: 18px;
              background: {
                image: url("https://gricel.sfo2.digitaloceanspaces.com/awakelab/puzzle-white-left.svg");
                size: auto 64px;
              }
            }
          }
          &.active{
            z-index: 0;
            .submodule-topic{
              padding-top: 5px;
              margin-top: 5px!important;
              color: $white;
              background: {
                image: url("https://gricel.sfo2.digitaloceanspaces.com/awakelab/puzzle-color-right.svg");
                size: auto 59px;
              }
            }
          }
        }
      }
      &.active{
        .module-code{
          background-color: $white;
          color: $black;
          @include shadow;
        }
        .submodule-title, .submodule-contents {
          opacity: 1;
        }
        .submodule-code{
          background-color: $white;
          color: $black;
          @include shadow;
        }
      }
      &:hover {
        .submodule-title, .submodule-contents {
          opacity: 1;
        }
      }
      &:last-of-type{
        &:after{
          display: none;
        }
      }
    }
  }
}